.chat {
    background-color: #252836;
    border-radius: 20px;
    padding: 0 20px;
    max-height: 600px;
    overflow-y:scroll;
    overflow-x:hidden;

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 10px;

    }

    &::-webkit-scrollbar-thumb {

        background-color: rgba(21, 20, 26, .63);
        border-radius: 10px;
    }

    .anim {
        animation: bottom .8s 0s both;
    }

    .chat-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #252836;
        left: 0;
        z-index: 1;
        border-bottom: 1px solid rgb(128 129 145 / 24%);

        .people {
            display: flex;

            svg {
                margin-right: 5px;
                width: 15px;
                flex-shrink: 0;
            }

            span {
                margin-left: auto;
                color: #808191;
                font-size: 12px;
                display: flex;
                align-items: center;


            }
        }

    }

    .message-container .author-img__wrapper svg {
        width: 15px
    }

    .chat_footer {
        display: flex;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        left: 0;
        width: calc(100% + 20px);
        padding-bottom: 12px;
        background-color: #252836;

        &:before {
            content: "";
            position: absolute;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.435 2.582a1.933 1.933 0 00-1.93-.503L3.408 6.759a1.92 1.92 0 00-1.384 1.522c-.142.75.355 1.704 1.003 2.102l5.033 3.094a1.304 1.304 0 001.61-.194l5.763-5.799a.734.734 0 011.06 0c.29.292.29.765 0 1.067l-5.773 5.8c-.428.43-.508 1.1-.193 1.62l3.075 5.083c.36.604.98.946 1.66.946.08 0 .17 0 .251-.01.78-.1 1.4-.634 1.63-1.39l4.773-16.075c.21-.685.02-1.43-.48-1.943z'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 14px;
            background-position: center;
            width: 18px;
            height: 18px;
            background-color: #6c5ecf;
            padding: 4px;
            border-radius: 50%;
            right: 16px
        }

        input {
            width: 100%;
            border: 0;
            background-color: #2d303e;
            border-radius: 20px;
            font-size: 12px;
            color: #fff;
            margin-left: -10px;
            padding: 12px 40px;
            font-weight: 500;
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2 12C2 6.48 6.47 2 12 2c5.52 0 10 4.48 10 10s-4.48 10-10 10C6.47 22 2 17.52 2 12zm5.52 1.2c-.66 0-1.2-.54-1.2-1.2 0-.66.54-1.2 1.2-1.2.66 0 1.19.54 1.19 1.2 0 .66-.53 1.2-1.19 1.2zM10.8 12c0 .66.54 1.2 1.2 1.2.66 0 1.19-.54 1.19-1.2a1.194 1.194 0 10-2.39 0zm4.48 0a1.195 1.195 0 102.39 0 1.194 1.194 0 10-2.39 0z' fill='%236c6e78'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-size: 24px;
            background-position: 8px
        }
    }

    .author-img__wrapper {
        position: relative;
        flex-shrink: 0
    }
    
    .author-img__wrapper svg {
        width: 16px;
        padding: 2px;
        background-color: #fff;
        color: #0daabc;
        border-radius: 50%;
        border: 2px solid #0daabc;
        position: absolute;
        bottom: 5px;
        right: 0
    }

    .video-author {
        position: absolute;
        right: 10px;
        transition: .4s;
        bottom: -25px
    }
    
    .video-author svg {
        background-color: #0aa0f7;
        color: #fff;
        border-color: #252936;
        position: absolute;
        top: 32px;
        right: 0;
    }

    .video-p {
        margin-right: 12px;
        -o-object-fit: cover;
        object-fit: cover;
        flex-shrink: 0;
        border-radius: 50%;
        position: relative;
        top: 0;
        left: 0
    }
    
    .video-p .author-img {
        border: 0
    }
    
    .video-p-wrapper {
        display: flex;
        align-items: center
    }
    
    .video-p-wrapper .author-img {
        border: 0
    }
    
    .video-p-wrapper svg {
        width: 20px;
        padding: 4px
    }
    .author-img {
        width: 52px;
        height: 52px;
        border: 1px solid rgba(255, 255, 255, .75);
        padding: 4px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover
    }
    .video-p .author-img {
        border: 0
    }
    .video-p-wrapper .author-img {
        border: 0
    }
    .msg__name {
        font-size: 13px
    }
    .video-p-name {
        margin-bottom: 8px;
        color: #fff;
        display: flex;
        align-items: center
    }
    
    .video-p-name:after {
        content: "";
        width: 6px;
        height: 6px;
        background-color: #22b07d;
        border-radius: 50%;
        margin-left: 8px;
        display: inline-block
    }
    
    .video-p-name.offline:after {
        background-color: #ff7551
    }
    .video-p-name.offline:after {
        background-color: #ff7551
    }
    .msg__content {
        line-height: 1.4em;
        max-width: 26ch;
        overflow: hidden;
        font-weight: 500;
        text-align: justify;
        color: #808191;

    }
    .video-p-sub {
        font-size: 12px
    }

    .message {
        display: flex;
        margin: 10px 0;
    }
}