.page_container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    .anim {
        animation: bottom .8s 0s both
    }

    .discover {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 50%;

        .discover_title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 30px;
            font-weight: 550;
        }

        .discover_container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .video_width {
                width: 60%;
                margin: 20px;

                [data-testid] {
                    display: flex !important;

                    video {
                        height: 300px;
                    }
                }

            }

            .video_thin {
                width: 40%;
                margin: 20px;

                [data-testid] {
                    display: flex !important;

                    video {
                        height: 300px;
                    }
                }
            }
        }
    }

    .page_most_watched {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 50%;


        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 30px;
            font-weight: 550;
            margin-bottom: 20px;
        }

        .page_most_watched_container {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            padding: 15px;

        }
    }
}