header {
    top: 0;
    left: 0;
    padding: 30px;
    max-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 812px) {
        & {
            flex-direction: column;
            max-height: 100%;
            justify-content: center;
            padding: 10px;
        }
    }

    .title {
        font-size: 24px;

        @media screen and (max-width: 812px) {
            & {
                font-size: 28px;
                margin-top: 1%;
            }
        }
        a {
            text-decoration: none;
            color: aliceblue;
        }
    }

    .search {
        input {
            width: 600px;
            height: 35px;
            border: none;
            background-color: #353340;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 40px 0 16px;
            box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: 96%;
            color: aliceblue;
            background-image: url("~/public/images/search.svg");


            @media screen and (max-width: 812px) {
                & {
                    width: 90vw;
                    padding: 4%;
                    margin: 5% 0;
                }
            }
        }
    }

    .right_block {
        display: flex;
        width: 30%;
        justify-content: flex-end;
        align-items: center;


        @media screen and (max-width: 812px) {
            & {
                width: 90%;
                align-self: center;
            }
        }

        .upload_video {
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (max-width: 812px) {
                & {
                    width: 100%;
                }
            }

            a {
                width: 180px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #353340;
                color: rgb(255, 255, 255);
                font-size: 14px;
                cursor: pointer;
                border-width: 0px;
                border-style: initial;
                border-color: initial;
                border-image: initial;
                border-radius: 8px;
                padding: 10px 16px;
                font-weight: 600;
                text-decoration: none;
                color: aliceblue;

                @media screen and (max-width: 812px) {
                    & {
                        width: 100%;
                    }
                }
                &:hover {
                    background-color: #008CBA;
                    color: white;
                }

                &:active {
                    border-color: rgba(0, 0, 0, 0.15);
                    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
                    color: rgba(0, 0, 0, 0.65);
                    transform: scale(1.05);
                }

                svg {
                    width: 25px;
                    height: 25px;
                    flex-shrink: 0;
                    margin-right: 10px;
                    padding: 0px;
                }

            }
        }

        .user {
            display: flex;
            justify-content: end;
            margin-left: 5%;

            div {
                display: flex;
                justify-content: end;
                margin-left: 5%;

                .user_img {
                    width: 30px;
                    height: 30px;
                    flex-shrink: 0;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 50%;
                }

                .username {
                    align-self: center;
                    font-size: 18px;
                    margin-left: 15px;

                    a {
                        text-decoration: underline;
                        color: aliceblue;
                        white-space: nowrap;
                    }
                }
            }

        }

        .notification {
            margin-left: 15px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 2px;

            & svg {
                width: 25px;
                height: 25px;
            }

            &:hover {
                background: red;
            }

            & .badge {
                position: absolute;
                top: -5px;
                right: -5px;
                padding: 1px 5px;
                border-radius: 50%;
                color: white;
            }
        }


    }


}