header {
    top: 0;
    left: 0;
    padding: 30px;
    max-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 24px;
    }

    .search {
        input {
            width: 600px;
            height: 35px;
            border: none;
            background-color: #353340;
            border-radius: 8px;
            font-size: 14px;
            font-weight: 500;
            padding: 0 40px 0 16px;
            box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
            background-size: 14px;
            background-repeat: no-repeat;
            background-position: 96%;
            color: aliceblue;
            background-image: url("~/public/images/search.svg");
        }
    }

    .right_block {
        display: flex;
        width: 30%;
        justify-content: flex-end;
        align-items: center;

        .user {
            display: flex;
            justify-content: end;
            width: 100%;

            .user_img {
                width: 30px;
                height: 30px;
                flex-shrink: 0;
                -o-object-fit: cover;
                object-fit: cover;
                border-radius: 50%;
            }

            .username {
                align-self: center;
                font-size: 18px;
                margin-left: 15px;
            }
        }

        .notification {
            margin-left: 15px;
            width: 30px;
            height: 30px;
            text-decoration: none;
            position: relative;
            display: flex;
            align-items: center;
            border-radius: 2px;

            & svg {
                width: 25px;
                height: 25px;
            }

            &:hover {
                background: red;
            }

            & .badge {
                position: absolute;
                top: -5px;
                right: -5px;
                padding: 1px 5px;
                border-radius: 50%;
                color: white;
            }
        }


    }


}