aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 10px;
    position: sticky;
    top: 0;
    margin-bottom: 4%;
    max-width: 21%;
    min-width: 21%;

    @media screen and (max-width: 812px) {
        & {
            max-width: 100%;
            padding: 5px;
        }
    }

    .sidebar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 40%;
        font-size: 19px;
        font-weight: 500;
        padding: 30px 0 30px 30px;
        height: 100%;

        @media screen and (max-width: 812px) {
            & {
                justify-content: center;
                font-size: 24px;
                padding: 5%;
            }
        }

        li {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 50px;
            margin: 5px;
            padding: 5px;

            a {
                text-decoration: none;
                color: aliceblue;
            }

            .active {
                color: aqua;
                text-decoration: underline;
            }

            .side_title {
                font-size: 16px;
                color: #808191;
                align-self: flex-start;
            }

            span {
                margin-left: 20px;
            }
        }

        li:first-child {
            @media screen and (max-width: 812px) {
                & {
                    display: none;
                }
            }
        }

        li:last-child {
            margin: 5px 5px -15px 5px;
        }
    }

    .groupe_chat {
        width: 90%;

        @media screen and (max-width: 812px) {
            & {
                align-self: center;
                width: 95%;
            }
        }
    }
}