.video_detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    video {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        border-radius: 20px 20px 0 0;
        display: block;
        cursor: pointer;
        transition: .4s;
    }

    .details {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 2%;
        min-width: 100%;

        img {
            align-self: flex-start;
            width: 52px;
            height: 52px;
            border: 1px solid rgba(255, 255, 255, .75);
            padding: 4px;
            border-radius: 50%;
            -o-object-fit: cover;
            object-fit: cover;
        }

        .author {
            margin-bottom: 8px;
            color: #fff;
            display: flex;
            align-items: center;
            margin-left: 2%;
            width: 100%;
        }

        .button_wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;

            .share {
                button {
                    height: 40px;
                    width: 110px;
                    @media screen and (max-width: 812px) {
                        & {
                            width: 50px;
                        }
                    }
                    span {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }

            button {
                margin-right: 5px;
                height: 40px;
                width: 110px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background-color: #353340 !important;
                color: #fff;
                border: 0;
                border-radius: 8px;
                font-size: 14px;
                cursor: pointer;
                padding: 0 5%;

                @media screen and (max-width: 812px) {
                    & {
                        width: 50px;
                    }
                }

                &:active {
                    border-color: rgba(0, 0, 0, 0.15);
                    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
                    color: rgba(0, 0, 0, 0.65);
                    transform: scale(1.2) !important;
                }

                &:hover {
                    border-color: rgba(0, 0, 0, 0.15);
                    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
                    color: rgba(190, 46, 46, 0.65);
                    transform: scale(1.05);
                }

                span {
                    font-weight: 500;

                    @media screen and (max-width: 812px) {
                        & {
                            display: none;
                        }
                    }
                }

                svg {
                    min-width: 20px;
                }
            }

            .like {

                a {
                    background-color: #ea5f5f;
                    margin: 0 10px;
                    height: 40px;
                    width: 110px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: #fff;
                    border: 0;
                    border-radius: 8px;
                    padding: 10px 16px;
                    font-size: 14px;
                    cursor: pointer;
                    text-decoration: none;

                    @media screen and (max-width: 812px) {
                        & {
                            width: 50px;
                        }
                    }

                    &:hover {
                        border-color: rgba(0, 0, 0, 0.15);
                        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
                        color: rgba(0, 0, 0, 0.65);
                        transform: scale(1.05);
                    }

                    span {
                        @media screen and (max-width: 812px) {
                            & {
                                display: none;
                            }
                        }
                    }

                    svg {
                        width: 100px;
                    }
                }
            }
        }
    }

    h2 {
        margin-top: 3%;
    }

    .description {
        margin-top: 3%;
        color: #808191;
        font-weight: 400;
        font-size: 18px;
        height: 100%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        @media screen and (max-width: 812px) {
            & {
                align-self: center;
                max-width: 97%;
                text-align: justify;
            }
        }
    }

    .load_date {
        margin-right: 5%;
        margin-top: 2%;
        align-self: flex-end;
        color: #808191;
        font-weight: 400;
    }
}