<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
    </head>
    <body>
        <h1>WebSocket Chat</h1>
        <h2>Your ID: <span id="ws-id"></span></h2>
        <form action="" onsubmit="sendMessage(event)">
            <input type="text" id="messageText" autocomplete="off"/>
            <button>Send</button>
        </form>
        <ul id="messages"></ul>
        <script>
            var email = Date.now()
            document.querySelector("#ws-id").textContent = email;
            my_email = "doszhan.work@gmail.com"
            companion_email = "admin@admin.kz"
            my_email = "admin@admin.kz"
            companion_email = "doszhan.work@gmail.com"
            let avatar = 'https:++mediastatic.s3.amazonaws.com+media+images+avatar+accounts+avatars+avatar1487_GDodmBS.jpg'
            var ws = new WebSocket(`wss://video.localhost/websocket/private_chat/ws/${my_email}/${avatar}/${companion_email}`);
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                console.log(content)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                var input = document.getElementById("messageText")
                ws.send(input.value)
                input.value = ''
                event.preventDefault()
            }
        </script>
    </body>
</html>