#!/bin/bash 


docker-compose up -d
docker exec videohosting_backend_1 bash -c "python3 manage.py test"

RESULT=$?
if [ $RESULT -ne 0 ]; then
    RED='\033[0;31m'
    NC='\033[0m' # No Color
    echo ""
    echo ""
    echo "------------------------------------------------------------------------"
    echo "The ${RED}Tests Have Failed!${NC}Cancelling Push!"
    echo "------------------------------------------------------------------------"
    echo ""
    echo ""
    echo "If you _really_ want to push this code push with the --no-verify switch"
    echo ""
    exit 1
fi